/* src/components/Footer.module.css */
.lightFooter {
  padding: 20px;
  text-align: center;
  background-color: gray;
  color: black;
}

.darkFooter {
  padding: 20px;
  text-align: center;
  background-color: white;
  color: black;
}
