/* src/components/Header.module.css */
.lightHeader {
  padding: 20px;
  text-align: center;
  background-color: gray;
  color: black;
  position: relative; /* Ensure this is relative */
}

.darkHeader {
  padding: 20px;
  text-align: center;
  background-color: white;
  color: black;
  position: relative; 
}

.title {
  margin: 0;
}

.toggleContainer {
  position: relative;
  height: 50px; 
}
