.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: flex-start; */
  width: 100%;
  background-image: url('../public/img/photo_2024-06-05_09-16-13.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.product-container {
  flex: 1;
 
}